*.suo
*.userprefs
*.user
*.cache
*.pdb
*.visualstate.xml
build.force
*/bin/**
*/obj/**
*/packages/**
*/csx/**
/packages
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.FileListAbsolute.txt
nucrunchtemp*.*

/Backup
/UpgradeLog.htm
/UpgradeLog.XML
*.suo
/_UpgradeReport_Files
/_NCrunch_MMDB.MessageCenter
*.ncrunchsolution